.woocommerce-billing-fields__field-wrapper .form-row label {
    font-size: 19px !important;
    font-weight: 400 !important;
    font-family: "Poppins", Sans-serif;
}

.woocommerce-billing-fields__field-wrapper .form-row .woocommerce-input-wrapper input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 55px;
    font-size: 18px;
    font-weight: 400 !important;
    font-family: "Poppins", Sans-serif;
}

.woocommerce-billing-fields__field-wrapper .form-row .woocommerce-input-wrapper input::placeholder {
    font-size: 18px;
    font-weight: 400 !important;
    font-family: "Poppins", Sans-serif;
}

@media only screen and (min-width:768px) {
    .woocommerce-billing-fields__field-wrapper .form-row .woocommerce-input-wrapper input {
        font-size: 20px;
        font-weight: 500;
    }
}
.woocommerce-billing-fields__field-wrapper .form-row .woocommerce-input-wrapper input:focus {
    border: 1px solid var(--e-global-color-primary);
}
p#billing_first_name_field {
    width: 100%;
}
.order_button{
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 6px;
}
/* default order button remove */
.form-row.place-order {
    display: none;
}

/* Thank you message */
.woocommerce-order .woocommerce-thankyou-order-received {
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", Sans-serif;
}

.woocommerce-order-overview__email, .woocommerce-column--shipping-address {
    display: none;
}