
  .woocommerce-cart-form .cart-summary h2, .cart_total_wrapper  h2 {
    font-size: 25px;
    font-weight: 500;
    color: #212121;
    font-family: "Poppins", Sans-serif;
    margin: 15px;
  }
  @media only screen and (min-width:768px){
    .woocommerce-cart-form .cart-summary h2, .cart_total_wrapper  h2 {
      font-size: 30px;
      margin: 0 0 20px 0;
    }
  }
  .shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .woocommerce-cart-form__cart-item_info {
    display: flex;
    gap: 10px;
    align-items: start;
    border: 1px solid #F7FAFC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 10px;
  }
  @media only screen and (min-width:768px){
    .woocommerce-cart-form__cart-item_info{
      gap: 20px;
      align-items: center;
      padding: 20px;
    }
  }
  .woocommerce-cart-form__cart-item_info .product-thumbnail a img {
    width: 200px !important;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
  }
  .woocommerce_cart_items_title_price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    align-items: start;
    width: 100%;
  }
  @media only screen and (min-width:768px){
    .woocommerce_cart_items_title_price{
      flex-direction: row;
      align-items: center;
      gap: 20px;
    }
  }
  
  .woocommerce_cart_items_title_price .product-name a {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2em;
    font-family: "Poppins", Sans-serif;
    color: #212832;
    transition: all 0.3s;
  }
  @media only screen and (min-width:768px){
    .woocommerce_cart_items_title_price .product-name a {
      font-size: 20px;
    }
  }
  .woocommerce_cart_items_title_price .product-name a:hover{
    color: var(--e-global-color-primary);
  }

  .woocommerce-cart-form__cart-item_info .woocommerce-Price-amount{
    font-size: 18px;
    font-weight: 500;
    color: var(--e-global-color-primary);
    display: block;
  }
  @media only screen and (min-width:768px){
    .woocommerce-cart-form__cart-item_info .woocommerce-Price-amount{
      font-size: 20px;
    }
  }
  .product-remove a {
    color:var(--e-global-color-primary) !important;
    position: relative;
  }


  .product-remove a::after {
    content: "Remove";
    top: 0px;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    color: red;
    position: absolute;
  }
  @media only screen and (min-width:768px){
    .product-remove a::after {
      font-size: 17px;
      top: 10px;
    }
  }
  .product-remove a::before {
  display: none;
  }
  .woocommerce a.remove{
    color: var(--e-global-color-primary) !important;
  }
  .woocommerce a.remove:hover {
    color: var(--e-global-color-primary) !important;
    background: none !important;
    text-decoration: none;
  }
  .actions.woocommerce_cart__action {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 15px;
    background: #EEFBF3;
    border-radius: 10px;
  }
  @media only screen and (min-width:768px){
    .actions.woocommerce_cart__action {
      flex-direction: row;
    }
  }
  .actions.woocommerce_cart__action .coupon {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  @media only screen and (min-width:768px){
    .actions.woocommerce_cart__action .coupon {
      display: flex;
      gap: 10px;
      width: 70%;
    }
  }
  .actions.woocommerce_cart__action .coupon button {
    width: 100%;
  }
  @media only screen and (min-width:768px){
    .actions.woocommerce_cart__action .coupon button {
      width: 50%;
    }
  }
  .actions.woocommerce_cart__action .coupon input#coupon_code {
    padding: 22px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
  .actions.woocommerce_cart__action button {
    background: var(--e-global-color-primary) !important;
  }
  
  .woocommerce_cart_product_summery_price_wrapper {
    display: grid;
    grid-template-columns: repeat(8, 8fr);
    gap:30px;
    width: 100%;
  } 
  @media only screen and (min-width:768px){
    .woocommerce_cart_product_summery_price_wrapper {
      grid-template-columns: repeat(8, 1fr);
    } 
  }
  .woocommerce-cart-form{
    grid-column: span 8; 
  }
  @media only screen and (min-width:768px){
    .woocommerce-cart-form{
      grid-column: span 5; 
    }
  }
  .cart-collaterals_total{
    grid-column: span 8; 
  } 
  @media only screen and (min-width:768px){
    .cart-collaterals_total{
      grid-column: span 3; 
    } 
  }
  
  .cart_totals {
    gap: 10px;
    border: 1px solid #F7FAFC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 10px;
  }
  @media only screen and (min-width:768px){
    .cart_totals {
      gap: 20px;
      padding: 20px;
    }
  }
  .wc-proceed-to-checkout {
    padding-bottom: 5px !important;
  }
  
  .wc-proceed-to-checkout a {
    margin: 0 !important;
  }
  .wc-proceed-to-checkout a {
    background: var(--e-global-color-primary) !important;
  }
  

  /* right side cart total  */


/* Right side cart details */

.cart-collaterals_total .cart-summary h2 {
  font-size: 25px;
  font-weight: 500;
  color: #212121;
  font-family: "Poppins", Sans-serif;
  margin: 15px;
}
@media only screen and (min-width:768px){
  .cart-collaterals_total .cart-summary h2 {
    font-size: 30px;
    margin: 0 0 20px 0;
  }
}
.cart-subtotal .Subtotal_price {
  font-size: 19px;
  font-weight: 400;
  font-family: "Poppins", Sans-serif;
  margin: 10px 0;
}
.cart-subtotal .Subtotal_price span {
  background: #EEFBF3;
  padding: 5px 4px;
  font-size: 19px;
  font-weight: 500;
  font-family: "Poppins", Sans-serif;
}

.order-total .order_total_price {
  font-size: 19px;
  font-weight: 400;
  font-family: "Poppins", Sans-serif;
  margin-top: 20px;
  margin-bottom: 0;
}
.order-total .order_total_price span {
  background: #EEFBF3;
  padding: 5px 4px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", Sans-serif;
}


/* Shipping method */

ul#shipping_method li:not(.elementor-widget-woocommerce-cart #shipping_method li) {
  margin: 0;
  padding: 10px;
  text-indent: 0px;
  list-style: none outside;
  border-radius: 5px;
}

.woocommerce-shipping-methods {
  list-style: none;
  padding: 0;
  margin: 20px 0 !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.woocommerce-shipping-methods li {
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

/* Hide Default Radio Button */
.woocommerce-shipping-methods input[type="radio"] {
  display: none;
}

/* Style for Label */
.woocommerce-shipping-methods label {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding-left: 30px; /* Space for checkmark */
  position: relative;
}

/* Custom Checkmark */
.checkmark {
  position: absolute;
  left: 0px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #178E79;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

/* Add Checkmark When Selected */
.woocommerce-shipping-methods input[type="radio"]:checked + label .checkmark {
  background: #178E79 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16' fill='white'%3E%3Cpath d='M20.285,5.705c0.391,0.39 0.391,1.024 0,1.414l-10.285,10.285c-0.39,0.391 -1.024,0.391 -1.414,0l-5.285,-5.285c-0.391,-0.39 -0.391,-1.024 0,-1.414c0.39,-0.391 1.024,-0.391 1.414,0l4.285,4.285l9.285,-9.285c0.39,-0.391 1.024,-0.391 1.414,0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  background-size: 28px;
  left: 7px;
}

/* Background Change when Selected */
.woocommerce-shipping-methods input[type="radio"]:checked + label {
  background: #178E79;
  border-radius: 5px;
  padding: 12px 12px 12px 35px;
  color: #fff;
}